.IntastellarSignin{
    padding: 8px 30px 8px 20px;
    font-size: 14px;
    border: 1px solid #c4c4cc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.intastellar-logo{
    width: 30px;
    margin-right: 5px;
}

.IntastellarSignin:hover{
    transform: scale(1.02);
    background-color: #e7e7e7;
}

#profileImage{
    border-radius: 50%;
}