.IntastellarSignin {
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    border: 1px solid #c4c4cc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #272727;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.IntastellarSignin:hover {
    background-color: #fff;
    color: #272727;
}

.IntastellarSignin.dark {
    background-color: #272727;
    color: #fff;
    border: 1px solid #606060;
}

.IntastellarSignin.dark:hover {

    background-color: #272727;
    color: #fff;
}

.intastellar-userProfile {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    order: -1;
}

.intastellar-logo.reverse {
    margin-left: 5px;
    margin-right: 0;
    order: 1;
}

.intastellarSignIn-info {
    font-size: 15px;
}

.intastellar-logo {
    width: 50px;
    margin-right: 5px;
}

#profileImage {
    border-radius: 50%;
}

.email {
    font-size: 11px;
    display: block;
}